.header {
  --h-drawer: 4.688rem;
  --bezier: cubic-bezier(0.36, 0.66, 0.04, 1);

  display: flex;

  min-height: var(--h-site-header--mobile);

  transition: box-shadow 0.2s var(--bezier), background-color 0.1s var(--bezier);

  background: rgba(255, 255, 255, 1);

  &:global(.site-header--stuck) {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
  }

  &:global(.site-header--dark) {
    background: #000;

    :global {
      .site-header__expand-button {
        color: #fff;
      }
    }
  }

  :global {
    .site-header__close-button {
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(3px);

      position: absolute;
      z-index: 2;
      top: 0.5rem;
      right: 0.5rem;

      padding: 0.5rem;
    }

    .site-header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .site-header__logo {
      display: block;
      align-self: center;
    }

    .site-header__expand-button {
      font-size: 2rem;
      padding-inline: 1rem;
      margin-inline-end: -1rem;
    }

    .site-header__menu {
      background: #fff;

      position: fixed;
      z-index: -1;
      pointer-events: none;
      opacity: 0;

      top: 0;

      margin: 16px;

      width: calc(100% - 32px);
      height: calc(100% - 32px);

      border-radius: 16px;
      transform: translateY(-16px);

      transition: box-shadow 0.2s var(--bezier), transform 0.4s var(--bezier),
        opacity 0.2s var(--bezier);
    }

    .site-header__menu-container {
      height: 100%;
      padding-block-start: 3rem;
      padding-block-end: 1.5rem;
      border-radius: 16px;
      overflow: hidden;
    }

    .site-header__menu-wrapper {
      padding-inline-start: 24px;
      padding-inline-end: 24px;
      padding-block-end: calc(var(--h-drawer) - 20px);

      height: 100%;
      overflow-y: auto;

      padding-block-end: 2rem;

      > li {
        padding-block-end: 2rem;

        + li {
          padding-block-start: 2rem;

          border-block-start: 1px solid var(--c-indigo-30);
        }

        &:last-of-type {
          margin-block-end: 20px;
        }
      }

      h3 {
        margin: 0;
        font-weight: 600;
        font-size: 1.5rem;
      }
      .site-header__section-title {
        font-size: 0.875rem;
        line-height: 112%;
        letter-spacing: 0.02em;
        color: #677483;
        font-weight: 400;

        margin-block-end: 1.5rem;
      }
    }

    .site-header__menu-section {
      margin-block-start: 1.5rem;

      > li {
        + li {
          margin-block-start: 1.25rem;
        }
      }
    }

    .site-header__drawer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      position: sticky;
      bottom: -20px;

      background-color: var(--c-indigo-10);

      border-radius: 16px;

      min-height: var(--h-drawer);

      margin-inline-start: 4px;
      margin-inline-end: 4px;
      padding: 20px;

      &-start {
        color: var(--c-indigo-80);
        font-size: 0.938rem;
        line-height: 120%;
      }

      &-end {
        display: flex;
        align-items: center;

        margin-inline-start: -1.25rem;
        margin-block-start: -1rem;

        > * {
          margin-inline-start: 1.25rem;
          margin-block-start: 1rem;
        }

        .link {
          font-weight: 500;
          color: var(--c-blue-90);
          font-size: 0.938rem;
          line-height: 120%;
        }
      }
    }
  }

  &Open {
    :global {
      .site-header__menu {
        box-shadow: 0 48px 96px -8px rgba(0, 0, 0, 0.16),
          0 24px 48px -4px rgba(0, 0, 0, 0.08);
        opacity: 1;
        transform: translateY(0px);

        z-index: 1;
        pointer-events: all;
      }
    }
  }
}
