.page {
  :global {
    .newsletter-signup {
      margin-block-end: 160px;
    }
  }
}

.top {
  margin-block-start: 120px;
  margin-block-end: 101px;

  :global {
    .heading-group {
      margin-block-end: 116px;
      text-align: center;
      max-width: 704px;
      margin-inline-start: auto;
      margin-inline-end: auto;

      h1 {
        font-size: clamp(3rem, 10vw, 4rem);

        line-height: 1;
        letter-spacing: -0.04em;
      }
      [class*="ds-paragraph"] {
        font-size: clamp(18px, 4.5vw, 20px);
      }
    }

    .cards {
      display: grid;
      column-gap: 64px;
      row-gap: 64px;
      grid-template-columns: repeat(3, minmax(100px, 340px));
      justify-content: space-between;

      @media screen and (max-width: 575px) {
        grid-template-columns: none;
        grid-template-row: repeat(3, minmax(100px, 340px));
      }

      @media screen and (max-width: 767px) {
        column-gap: 32px;
      }

      .card {
        overflow: hidden;

        .image-wrapper {
          overflow: hidden;
          clip-path: inset(0px round 8px 8px 8px 8px);
          margin-block-end: 24px;
          max-width: 340px;

          img {
            width: 100%;
            transition: transform 0.2s cubic-bezier(0.32, 0.72, 0, 1);
          }
        }

        &:hover,
        &:active,
        &:focus {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

.websites {
  margin-block-end: 160px;

  :global {
    .ds-grid {
      column-gap: 32px;
      row-gap: 64px;
    }
    .ds-col {
      img {
        margin-block-end: 27px;
      }

      .link::after {
        content: " →";
        letter-spacing: 0;
        white-space: nowrap;
        color: var(--c-capacitor-blue);

        transition: opacity 0.2s ease-out;
      }
      .link:hover::after,
      .link:active::after {
        opacity: 0.7;
      }
    }
  }
}
