@layer reset, ds, site;

@import "modern-normalize/modern-normalize.css" layer(reset);
@import "@ionic-internal/design-system/dist/reset/index.css" layer(reset);

@import "@ionic-internal/design-system/dist/tokens/index.css" layer(ds);
@import "@ionic-internal/design-system/dist/stylesheets/ds-os.css" layer(ds);

@layer site {
  :root {
    --c-capacitor-blue: rgb(17, 158, 255);

    --h-platform-bar: 3.5rem;
    --h-site-header--mobile: 3.5rem;
    --h-site-header--desktop: 4rem;
    --h-site-subnav: 3.5rem;

    --z-subnav: 900;
    --z-header: 1000;
    --z-backdrop: 1100;
    --z-search: 1200;
  }

  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  .font-root {
    --ff-highlighted-code: var(--ff-roboto-mono);
  }

  .DocSearch-Container {
    z-index: var(--z-search) !important;
  }

  hr {
    border: none;
    height: 1px;
    background: var(--c-indigo-30);
    margin: 2rem 0;
  }

  .link,
  p a {
    color: var(--c-cyan-100);
    transition: opacity 0.2s ease-out;
  }
  .link:hover,
  p a:hover {
    opacity: 0.7;
  }

  p strong {
    font-weight: 500;
    color: var(--c-carbon-100);
  }

  .no-scroll {
    overflow: hidden;
  }

  code {
    font-family: var(--ff-roboto-mono);
  }
  pre code {
    display: block;
  }
}
