.header {
  box-shadow: 0px 1px 0px 0px #0000000f;

  // #region ----------- DROPDOWN STUCK ----------
  &:global(.site-header--stuck) {
    background-color: rgba(255, 255, 255, 0.98);

    @supports (
      (-webkit-backdrop-filter: saturate(180%) blur(32px)) or
        (backdrop-filter: saturate(180%) blur(32px))
    ) {
      background-color: rgba(255, 255, 255, 0.92);
      backdrop-filter: saturate(180%) blur(32px);
    }
  }
  // #endregion

  &:global(.site-header--dark) {
    background: black;

    & :local {
      .headerLink a {
        color: #fff;
      }
    }
  }

  &ReducedMotion {
    * {
      transition-duration: 0s !important;
      animation-duration: 0s !important;
      transition-delay: 0s !important;
      animation-delay: 0s !important;
    }
  }

  &Container {
    height: var(--h-site-header--desktop);

    width: clamp(0px, 100%, calc(100% - 16px * 2));

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &SkipContent {
    display: flex;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    background-color: #fff;

    opacity: 0;
    pointer-events: none;

    &:focus-within {
      opacity: 1;
    }

    a {
      font-size: 2rem;
    }
  }

  &Routes {
    display: flex;
    /* align-items: center; */

    font-weight: 500;

    height: 100%;

    &Group {
      display: flex;
      align-items: center;
    }
  }

  &VerticalRule {
    display: flex;
    align-items: center;
    margin-inline: 0.75rem;

    + .headerRoutesGroup {
      @media (max-width: 1023px) {
        display: none;
      }

      + .headerVerticalRule {
        @media (max-width: 1023px) {
          display: none;
        }
      }
    }

    &::before {
      display: block;
      content: "";

      width: 1px;
      height: 1.75rem;

      background-color: var(--c-indigo-40);
    }
  }

  &Route {
    position: relative;
    display: flex;

    &:hover,
    &:focus-within {
      .headerRouteWrapper {
        &:hover {
          cursor: pointer;
        }
        &::after {
          opacity: 1;
        }
      }

      :global {
        .site-header__dropdown {
          @keyframes delayPointerEvents {
            0% {
              pointer-events: none;
            }
            99% {
              pointer-events: none;
            }
            100% {
              pointer-events: all;
            }
          }

          animation: delayPointerEvents 0.15s forwards;

          transform: translateY(0px);

          opacity: 1;
          pointer-events: all;

          transition: transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1) 0.1s,
            opacity 0.4s cubic-bezier(0.36, 0.66, 0.04, 1) 0.1s;
        }
      }
    }
  }

  &Link a,
  &RouteWrapper {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--c-indigo-80);

    :global {
      .angle-arrow {
        margin-inline-start: 0.25rem;
      }
    }
  }

  &Link {
    display: flex;
    align-items: center;

    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;
  }

  &Icon {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;

    transition: 0.1s all ease-in-out;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
    :active {
      opacity: 0.9;
    }
  }

  &RouteWrapper {
    font-size: 0.875rem;

    display: flex;
    align-items: center;

    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 1rem;
      left: 0rem;
      right: 0rem;
      bottom: 1rem;

      border-radius: 8px;

      background: var(--c-indigo-10);

      opacity: 0;

      transition: opacity 0.3s cubic-bezier(0.36, 0.66, 0.04, 1) 0.15s;
    }

    svg {
      margin-inline-start: 0.25rem;
    }
  }

  :global {
    .link {
      font-size: 0.875rem;
      line-height: 100%;

      display: flex;
      align-items: center;
      letter-spacing: 0.02em;

      color: var(--c-indigo-80);

      &:last-child {
        margin-block-end: 0;
      }

      svg {
        margin-inline-end: 1rem;
      }
    }

    .site-header__dropdown {
      pointer-events: none;
      content-visibility: auto;

      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      transform: translateY(-16px);

      transition: transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1),
        opacity 0.4s cubic-bezier(0.36, 0.66, 0.04, 1);

      background: #fff;

      opacity: 0;

      box-shadow: 0 48px 96px -8px rgba(0, 0, 0, 0.16),
        0 24px 48px -4px rgba(0, 0, 0, 0.08);
      border-radius: 0.5rem;
    }

    .DocSearch {
      align-self: center;

      display: flex;
      align-items: center;
      color: rgba(146, 160, 179, 1);

      margin-inline-end: 0.75rem;

      background: transparent;

      font-size: 0.875rem;

      justify-content: space-between;

      width: 14rem;

      border: 1px solid var(--c-indigo-30);
      border-radius: 0.5rem;

      padding: 0.5rem;

      transition: border-color 0.2s ease-out;

      &:hover,
      &:focus {
        border: 1px solid var(--c-indigo-50);
        box-shadow: none;
      }

      .DocSearch-Button-Container {
        display: flex;
        align-items: center;

        svg {
          margin-inline-end: 0.625rem;
          path {
            color: rgba(178, 190, 205, 1);
          }
        }
      }

      .DocSearch-Button-Placeholder {
        padding-inline-start: 0;
        font-size: 0.875rem;
      }

      .DocSearch-Button-Keys {
        border: 1px solid rgba(222, 227, 234, 1);
        border-radius: 0.25rem;

        min-width: auto;

        font-size: 0.75rem;
        padding: 0.25rem;

        display: flex;
        align-items: center;
      }

      .DocSearch-Button-Key {
        align-items: center;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        color: rgba(178, 190, 205, 1);
        display: block;
        height: auto;
        justify-content: center;
        margin-right: 0;
        position: relative;
        padding: 0;
        border: 0;
        top: 0px;
        width: auto;
        line-height: 1;
      }
    }
  }
}
